.spacer {
         color:darkorange;
         margin-left: 35px;
         margin-right: 35px
    }

.center {
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 65%;
    }

.body_font {
        margin-top: 50px;
        margin-left: 10mm;
        margin-right: 10mm;
        padding-block: 5;
        border-width: 8px;
        font-size: 12pt;
        color:darkorange;
        outline-color: whitesmoke;
    
     }
 
.bc    {
        background-color: black;
        width: 366;
        height: 526;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto; 
    }
.nav   {
        color: darkorange;
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 10px;
    }
.footerz{
        position: static;
        bottom: 0; 
        width: 100%;
    }

ul      {
        color:whitesmoke;
        font-size: 12px;
    
    }

.white {
        color:whitesmoke;
    }

.bcalt {
        background-color: darkorange;
    }

.center_white {
               color:whitesmoke;
               display:block;
               margin-left: auto;
               margin-right: auto;
               width: 50%;
    }
