.spacer {
        color:darkorange;
        margin-left: 35px;
        margin-right: 35px
    }

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }

.body_font {
        margin-top: 50px;
        margin-left: 10mm;
        margin-right: 10mm;
        padding-block: 5;
        border-width: 8px;
        font-size: 12pt;
        color:darkorange;
        outline-color: whitesmoke;
    
     }
.body_font2 {
        margin-top: 50px;
        padding-block: 5;
        font-size: 12pt;
        color: darkorange;
        outline-color: whitesmoke;
        display: flex;
        flex-direction: column
    }
 
.bc    {
        background-color: black;
        width: 366;
        height: 526;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto; 
    }
.nav   {
        color: darkorange;
        display:flex;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        justify-content: center;
    }
.nav2   {
        color: darkorange;
        display:flex;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        justify-content: center;
        text-decoration:underline;
        text-decoration-color: whitesmoke;
    }
.footerz{
        bottom: 0; 
        width: 100%;
    }

ul      {
        color:whitesmoke;
        font-size: 12px;
    
    }

.white {
        color:whitesmoke;
    }

.bcalt {
        background-color: darkorange;
        margin-top: 100px;
       }

.center_white {
        color:whitesmoke;
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        }

#box-container {
        background: black;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        height: 1000px;
        }
#box-container2 {
                 background: black;
                 display: flex;
                  flex-direction: row;
                  max-width: 100%;
                  height: 500px;
                }


#box-1 {
        width: 25%;
        height: 100%;
        }

#box-2 {
       width: 100%;
       height: 100%;
       }

.box-img{
        display:flex;
        flex-direction: row;
        max-width: 1lfr;
        margin: 10px 10px 10px 10px;
        }
.box-box{
        display:flex;
        flex-direction: column;
        max-width: 1lfr;
        max-height: 1lfr;
        margin: 10px 10px 10px 10px;
        }      
.imag   {
        margin: 20px 20px 20px 20px;
        width: 400px;
        height: 400px;
        alt:"Una pc gamer";
        } 
.brillito{
         margin: 20px 20px 20px 20px;
         width: 400px;
         height: 200px;
         alt:"Brillitos";
        } 
.main-box{
        display:flex;
        flex-direction: column;
        margin-top: 300px;

}
.foot-box{
        display:flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        justify-content: flex-start;
}
img {max-width:100%;}
img {max-height:100%;}